[submodule "vendor/bdwgc"]
	path = vendor/bdwgc
	url = https://github.com/raviqqe/bdwgc
	branch = coroutines
[submodule "vendor/libatomic_ops"]
	path = vendor/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops
